* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  font-family: 'Kalam', cursive, "Lucida Console", 
  "Courier New", monospace, sans-serif;
  background-image: url("../public/IQZbK5.jpg");
  background-color: rgb(238, 245, 149);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  max-width: 500px;
  border: 1px solid rgb(22, 22, 21);
  margin: auto;
}

header {
  width: 100%;
  padding: 5px 32px;
  background-color: #f8e4a0c2;
  color: rgb(44, 41, 9);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.4);
  font-weight: 400;
}

footer {
  width: 100%;
  padding: 16px 32px;
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 2.5rem;
  background-color: #f8e4a0c2;
  color: rgb(44, 41, 9);
}
.item {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 10px;
  float: left;
}
.item h1 {
  margin-bottom: 5px;
  font-size: 16px;
}
.item p {
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 16px;
}
.item button {
  position: relative;
  float: right;
  margin-right: 1px;
  color: #b48f27;
  border: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
  outline: none;
}
form.create-item {
  position: relative;
  width: 400px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(17, 17, 17);
}

form.create-item input,
form.create-item textarea {
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 1.1em;
  font-family: inherit;
  outline: none;
  resize: none;
}
form.create-item input {
  border-bottom: 1px dotted gray;
}

form.create-item button {
  position: absolute;
  right: 30px;
  bottom: -20px;
  background: #f5d786;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

